<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="directory" value="C:\files"/>
    <add key="header" value='"column1", "column2", "column3"'/>
    <add key="host" value="sftp012.successfactors.eu" />
    <add key="username" value="6352058T" />
    <add key="password" value="zXoaZQdg" />
    <add key="sftpDir" value="/incoming" />
    <add key="port" value="22" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>

<!--
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="directory" value="C:\files"/>
    <add key="header" value='"column1", "column2", "column3"'/>
    <add key="host" value="files.tcgnws.com" />
    <add key="username" value="POC_NWS" />
    <add key="password" value="Password123!" />
    <add key="sftpDir" value="/" />
    <add key="port" value="22" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
-->